@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blog-title-gradient {
    background: linear-gradient(180deg, rgba(26, 25, 23, 0) 0%, rgba(26, 25, 23, 0.5) 60.99%);
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

// .flix-blog-parent-container {
//     padding-bottom: 68px;
//     position: relative;
//     height: 100vh;
//     max-width: 52.7vh;
//     min-width: 200px;
//     min-height: 200px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     margin: 0 auto;
//     scroll-behavior: smooth;

//     animation: slideIn 200ms ease-out;

// }

/* Animation effect */
// @keyframes slideIn {
//     0% {
//         transform: translateX(80%);
//         /* Start from the right */
//     }

//     100% {
//         transform: translateX(0);
//         /* End at the original position */
//     }
// }


// .flix-blog-main-container {
//     width: 100%;
//     // padding-top: 1.5rem;
//     // padding-left: 1.5rem;
//     // padding-right: 1.5rem;
//     padding-bottom: 3.5rem;
//     display: flex;
//     flex-direction: column;
//     border-left: 0.5px solid #3D3E40;
//     border-right: 0.5px solid #3D3E40;
//     scroll-behavior: smooth;
// }


.flix-blog h1 {
    font-size: 1.875rem; // 30px
    line-height: 2.25rem; // 36px
    letter-spacing: -0.025rem; // -0.4px
    font-weight: 600;
    color: #282827;
}


.flix-blog h2 {
    font-size: 1.25rem; // 20px
    line-height: 1.75rem; // 28px
    letter-spacing: -0.025rem; // -0.4px
    font-weight: 600;
    color: #282827;
}


.flix-blog h3 {
    font-size: 1.25rem; // 20px ;
    line-height: 1.75rem; // 28px;
    font-weight: 600;
    line-height: -0.4px;
    color: #282827;
}

.flix-blog p {
    font-size: 1.125rem; // 18px;
    line-height: 2rem; // 32px;
    font-weight: 400;
    color: #282827;
    font-family: 'Noto Serif', serif !important;
}

.flix-blog strong {
    font-size: 1.25rem; // 20px ;
    line-height: 1.75rem; // 28px;
    font-weight: 600;
    line-height: -0.4px;
    color: #282827;
}

.flix-blog img {
    padding: 20px 0px;
}

